@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
    background-color: #C0C0C0;
}

img {
  display: block;
  width: 100%;
    margin: 0;
    padding: 0;
    
}

figure {
    margin: 0;
    padding: 0;
    position: relative;
}

.figcaption {
   position: absolute;
    bottom: .5rem;
    color: #fff;
    margin: 1rem;
}

.list {
    display: inline-block;
    width: 7rem;
    border-left-color: 1rem; 
}

.listtitle {
    color: #C0C0C0;
    text-transform: capitalize;
}

main {
    margin: 0;
    border-radius: .5rem;
    background-color: white;
}

.info {
    margin: 1rem;
}